.about{
    color: cadetblue;
}

main{
    display: flex;
    flex-direction: row;
    margin: 5vw 0 0 8vw;
}

img{
    height: 500px;
    width: 500px;
}

p{
    margin: 5vw 10vw 0 3vw;
}
